@import "mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;


.v-caption-horizontal {
  display: inline-block;
  font-weight: bold;
}

.v-verticallayout-moviesMainBackground {
    background: url(icons/Movies2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.v-verticallayout-musicMainBackground {
    background: url(icons/vinyl.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.v-window-musicWindowBackground {
    background: url(icons/vinyl_small.png) no-repeat;
}

.v-window-moviesWindowBackground {
    background: url(icons/Movies.png) no-repeat;
}

.v-horizontallayout-startViewBackground {
    background: url(icons/Movies8.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.v-verticallayout-generalInfoBackground {
 background: url(icons/genInfo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.v-table-moviesTable {
	opacity: 0.9;
    font-weight: bolder;
}

.v-table-infoTable {
	opacity: 0.9;
    font-weight: bolder;
}

.v-button {
	opacity: 0.9;
    font-weight: bolder;
}

.v-textfield {
	opacity: 0.9;
    font-weight: bolder;
}

.v-filterselect {
	opacity: 0.9;
    font-weight: bolder;
}